# Byte-compiled / optimized / DLL / tox files
__pycache__/
lib/__pycache__/
*.py[cod]
*$py.class
*.pyc
/.tox/

# build files and dirs

# My files
tmp/
out/*
s_stats.tx
tstats.out

# Other files
.DS_Store
#docs/.DS_Store
#tests/.DS_Store
